<!DOCTYPE html>
<html lang="en">
<head>
  <title>Frequent Interesting Words</title>
  <link rel="stylesheet" href={{ css_path }} type="text/css" />
</head>
<div id="top" class="page" role="document"> 
<body>
  <header><div class="subhead"><h1>Frequently Interesting Words</h1></div></header>
    <table>
      <thead>
        <tr>
          <th>Word (frequency)</th>
          <th>Documents</th>
          <th>Sentences</th>
        </tr>
      </thead>
      <tbody>
        {% for keyphrase_match in keyphrase_matches %}
          <tr>
            <td rowspan="{{keyphrase_match.sentences|length}}" class="keyphrase">{{ keyphrase_match.text ~ " (" ~ keyphrase_match.count ~ ")" }}</td>
            <td>
              {{ keyphrase_match.filenames[0] }}</td>
            <td>
              {{ keyphrase_match.sentences[0]|regex_sub(keyphrase_match.text, "keyphrase") }}
            </td>
          </tr>
          {% for sentence in keyphrase_match.sentences[1:] %}
            <tr>
              <td>{{ keyphrase_match.filenames[loop.index] }}</td>
              <td>
                {{ sentence|regex_sub(keyphrase_match.text, "keyphrase") }}
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    <div id="footer">
        &copy; Copyright 2022 by Dom Kelly</a>.
    </div>
</body>
</div>
</html>